

.card {
  width: 300px;
  height: 300px;
  padding: 20px;
  background: linear-gradient(
    45deg,
    rgba(255, 255, 255, 0.1),
    rgba(255, 255, 255, 0.2)
  );
  backdrop-filter: blur(4px);
  box-shadow: 0 0 20px #000;
  border-top: 2px solid rgba(255, 255, 255, 0.25);
  border-left: 2px solid rgba(255, 255, 255, 0.2);
}

.card img {
  width: 150px;
  border-radius: 50%;
  border: 2px solid #fff;
}

.card h2 {
  color: #fff;
  font-weight: normal;
  font-size: 25px;
}

.card p {
  color: #fff;
  text-align: justify;
  font-size: 15px;
}

.card button {
  display: inline-block;
  width: 50px;
  height: 50px;
  font-size: 22px;
  border-radius: 50%;
  border: none;
  margin-right: 10px;
  color: #fff;
  transition: 0.4s all;
  cursor: pointer;
}


.parallax-effect-glare-scale {
  width: 300px;
  height: 400px;
  padding: 20px;
  background: linear-gradient(90deg, rgba(22,16,138,1) 0%, rgba(72,75,80,1) 0%);

  box-shadow: 0 0 20px #000;
  border-top: 2px solid rgba(255, 255, 255, 0.25);
  border-left: 2px solid rgba(255, 255, 255, 0.2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
  transform-style: preserve-3d;
}
.parallax-effect-glare-scale .inner-element {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 35px;
  font-family: 'Poppins';
  color: white;
  transform: translateZ(60px);
}

.loading {
  height: 0;
  width: 0;
  padding: 15px;
  border: 6px solid #ccc;
  border-right-color: #888;
  border-radius: 22px;
  animation: rotate 1s infinite linear;
}

@keyframes rotate {

  100% {
   transform: rotate(360deg);
  }
}

.headerLink {


  text-decoration: none;

  
  display: inline-block;

  position: relative;
}
.headerLink:after {    
  background: none repeat scroll 0 0 transparent;
  bottom: 0;
  content: "";
  display: block;
  height: 2px;
  left: 50%;
  position: absolute;
  background: #fff;
  transition: width 0.3s ease 0s, left 0.3s ease 0s;
  width: 0;
}
.headerLink:hover:after { 
  width: 100%; 
  left: 0; 
}

.linkButton:hover{
  cursor: pointer;
  transition: all 0.2s;
  transform:scale(1.15);
}



@media screen and (min-width: 1224px) {
  .slick-track{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    gap: 2rem !important;
    height: 22rem !important;
  }
}
@media screen and (max-width: 1224px) {
  .slick-arrow{
    display: none !important;
  }

  .parallax-effect-glare-scale{
    width: 300px !important;
  }

  .instacard{
    width: 320px !important;
    margin-bottom: 2rem;
  }

  .slick-slide{
    display: flex !important;
    justify-content: center !important;
  }

  
}

._2R-kh{
  display: flex !important;
  justify-content: center !important;
  gap:1rem
}




.instacard {
  background-color: #15181D;
  width: 600px;
  border: 1px solid #0f0f0f;
  border-radius: 0.5rem;
}
.instacard .commentInput {
  display: flex;
  align-items: center;
}
.instacard .commentInput img {
  width: 32px;
  padding: 9px 8px;
}
.instacard .commentInput textarea {
  resize: none;
  border: none;
  margin: 16px;
  width: calc(100% - 88px);
  height: 18px;
}
.instacard .commentInput textarea:focus {
  outline: none !important;
}
.instacard .postImage {
  width: 16rem;
  height: 16rem;
}
.instacard .username {
  padding: 12px !important;
  font-weight: 700;
  color: #fff;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #fff;
}
.instacard .username p {
  padding-left: 12px;
  margin-top: 0;
  margin-bottom: 0;
}
.instacard .username img {
  width: 30px;
  height: 30px;
  border-radius: 30px;
  border: 1px solid #fff;
}
.instacard .status {
  border-bottom: 1px solid #f2f2f2;
  padding: 10px 16px;
  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  display: flex;
  flex-direction: column;
}
.instacard .status b {
  color: #262626;
}
.instacard .status .like img {
  padding: 8px;
  width: 40px;
}
.instacard .status .like {
  display: flex;
}

.slider-single-content{
  opacity: 1 !important;
  box-shadow: none !important;
}

.slider-content{
  width: 100% !important;
}